{% extends 'base.html' %}
{% load widget_tweaks %}

{% block head_title %}Customer | {{customer}}{% endblock head_title %}

{% block content %}
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Customer: {{customer}}</h5>
            <hr>
            <a class="btn btn-outline-info  btn-sm btn-block" href="">Update Customer</a>
            <a
                href="{% url 'create_order' customer.id %}"
                class="btn btn-outline-info  btn-sm btn-block"
            >Place Orders</a>
            <button
                type="button"
                class="btn btn-sm btn-outline-info btn-block"
                data-toggle="collapse"
                data-target="#filter-form"
                aria-expanded="false"
                aria-controls="filter-form"
            >Filter orders</button>
        </div>
    </div>

    <div class="col-md">
        <div class="card card-body">
            <h5>Contact Information</h5>
            <hr>
            <p>Email: {{customer.email}}</p>
            <p>Phone: {{customer.phone}}</p>
        </div>
    </div>

    <div class="col-md">
        <div class="card card-body">
            <h5>Total Orders</h5>
            <hr>
            <h1 style="text-align: center;padding: 10px">{{total_orders}}</h1>
        </div>
    </div>
</div>

<div class="row collapse mt-3" id="filter-form">
    <div class="col-12">
        <div class="card card-body">
            <form method="get">
                {% for field in filter_orders %}
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <label for="{{field.id_for_label}}" class="input-group-text">
                                {{field.label}}
                            </label>
                        </div>
                        {{field|add_class:"form-control"}}
                    </div>
                {% endfor %}
                <div class="col-12 btn-group">
                    <button class="btn btn-warning" type="reset">Clear</button>
                    <a
                        href="{% url 'customer' customer.id %}"
                        class="btn btn-outline-danger"
                    >Clear filters</a>
                    <button class="btn btn-primary" type="submit">Apply filters</button>
                </div>
            </form>
        </div>
    </div>

</div>
<br>

{% include 'partials/_customer_orders_table.html' %}
{% endblock content %}
