{% extends 'base.html' %}

{% block head_title %}Delete order {{order}}{% endblock head_title %}

{% block content %}
<div class="row full-height centralize-content">
	<div class="p-4 card">
        <form
            action="{% url 'delete_order' order.id %}"
            method="post"
            class="centralize-content"
        >
            {% csrf_token %}
            <label class="text-center mb-3">Are you sure you want to delete "{{order}}"?</label>
            <div class="btn-group">
                <a
                    href="{% url 'dashboard' %}"
                    class="btn btn-sm btn-warning"
                >Cancel</a>
                <button
                    type="submit"
                    class="btn btn-sm btn-danger"
                >Delete</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
