{% extends 'base.html' %}
{% load widget_tweaks %}
{% block head_title %}Password Reset{% endblock head_title %}

{% block content %}
<main class="full-height centralize-content">
    <div class="p-4 card centralize-content">
        <h3>Password Reset</h3>
        <p class="mb-4">Forgotten your password? <br/> Don't worry, enter your email address below, and we'll email instructions for setting a new one.</p>
        <form method="post" action="">
            {% csrf_token %}
            <div class="input-group">
                <div class="input-group-append">
                    <label for="email" class="input-group-text">Email</label>
                </div>
                {{form.email|add_class:"form-control mr-3"|attr:"placeholder:your@email.com"|attr:"autofocus"}}
                <input type="submit" name="Send email" class="btn btn-info" />
            </div>
        </form>
    </div>
</main>
{% endblock content %}
