{% extends 'base.html' %}
{% load widget_tweaks %}
{% block head_title %}Password Reset Confirm{% endblock head_title %}

{% block content %}
<main class="full-height centralize-content">
    <div class="p-4 card centralize-content">
        <h3 class="mb-4">Password Reset Confirm</h3>
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        <form method="post" action="">
            {% csrf_token %}
            {% for field in form %}
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <label
                            for="{{field.id_for_label}}"
                            class="input-group-text"
                        >{{field.label}}</label>
                    </div>
                    {{field|add_class:"form-control"}}
                </div>
            {% endfor %}
            <p>Password requirements:</p>
            <ul>
                <li>Your password can’t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
            </ul>
            <input type="submit" name="Update password" class="btn btn-info" />
        </form>
    </div>
</main>
{% endblock content %}
